<div class="star-seeker-container">
  <div class="star-seeker-header">
    <div>
      <h1 class="star-seeker-title">Star Seeker GitHub Star 智能管理助手</h1>
      <p class="star-seeker-stats">已经存 221 个Star项目 · 最后更新: 1/5/2025, 11:35:59 PM</p>
    </div>
  </div>

  <div class="star-seeker-actions">
    <button class="star-seeker-button star-seeker-button-primary">同步Star数据</button>
    <button class="star-seeker-button star-seeker-button-secondary">查看数据</button>
    <button class="star-seeker-button star-seeker-button-secondary">管理缓存</button>
  </div>

  <div class="star-seeker-search">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
      <path fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z"></path>
    </svg>
    <input type="text" placeholder="Search stars..." />
  </div>
</div> 